*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.head-container{
    margin-top:30px;
    text-align: center;
}

h4{
    padding:20px;
}
.container{
    height:350vh; 
    /* border:2px solid red; */
}
.parent {
    display: grid;
    margin:10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    width:100%;
    height:500px;
    
    /* border:2px solid red; */
    /* height: 2000px; */
    /* border: 2px solid black; */
    grid-template-areas: "a g m"
        "a g n"
        "a h n"
        "a i o"
        "a i o"
        "a i o"
        "b j o"
        "b j p"
        "c j p"
        "d k p"
        "d k q"
        "d k q"
        "d k q"
        "e k r"
        "e l r"
        "e l r"
        "f l r"
}

.div {
   
    object-fit: cover;
}

.div1 {
    grid-area: a;
    border: 2px solid black;
    background-color: aqua;

}

.div2 {
    grid-area: b;
    border: 2px solid black;
    background-color: blueviolet;
}

.div3 {
    grid-area: c;
    /* grid-row-start: 2; */
    border: 2px solid black;
    background-color: chartreuse;
}

.div4 {
    grid-area: d;
    border: 2px solid black;
    background-color: aqua;

}

.div5 {
    grid-area: e;
    border: 2px solid black;
    background-color: aqua;

}

.div6 {
    grid-area: f;
    border: 2px solid black;
    background-color: aqua;

}

.div7 {
    grid-area: g;
    border: 2px solid black;
    background-color: aqua;

}

.div8 {
    grid-area: h;
    border: 2px solid black;
    background-color: aqua;

}

.div9 {
    grid-area: i;
    border: 2px solid black;
    background-color: aqua;

}

.div10 {
    grid-area: j;
    border: 2px solid black;
    background-color: aqua;

}

.div11 {
    grid-area: k;
    border: 2px solid black;
    background-color: aqua;

}

.div12 {
    grid-area: l;
    border: 2px solid black;
    background-color: aqua;

}

.div13 {
    grid-area: m;
    border: 2px solid black;
    background-color: aqua;

}

.div14 {
    grid-area: n;
    border: 2px solid black;
    background-color: aqua;

}

.div15 {
    grid-area: o;
    border: 2px solid black;
    background-color: aqua;

}

.div16 {
    grid-area: p;
    border: 2px solid black;
    background-color: aqua;

}

.div17 {
    grid-area: q;
    border: 2px solid black;
    background-color: aqua;

}

.div18 {
    grid-area: r;
    border: 2px solid black;
    background-color: aqua;

}
img{
    width:100%;
    height:100%;
    overflow: hidden;
    object-fit: cover;
}
.para{
    /* border:2px solid black; */
    font-size:1rem;
    margin: 50px 0px;
    text-align: center;
    background-color: antiquewhite;
    padding: 50px;

}